<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" type="image/png" href="../imagenes/pngwing.com.png">
    <link rel="stylesheet" href="../styles/reset.css">
</head>
<body>
    <header>
        <h1>Hero</h1>
        <img class="logo" src="../imagenes/pngwing.com.png" alt="Logo">
        <button class="menu-btn" aria-label="Abrir menú">☰</button>
        <nav>
            <div class="menu-despegable">
            <img class="logo-menu-despegable" src="../imagenes/pngwing.com.png" alt="Logo">
            <button class="close-btn" aria-label="Cerrar menú">✕</button>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <hr>
                <li><a href="#">About</a></li>
                <hr>
                <li><a href="#">Chat</a></li>
                <hr>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bienvenido a Hero AI</h2>
            <p>Explora un mundo donde la inteligencia artificial da vida a tus superhéroes favoritos.</p>
            <video autoplay muted loop playsinline> <source src="../videos/Marvel-Opening.mp4" 
                type="video/mp4">Tu navegador no soporta el video.
        </video>
        </section>
        <section>
        <p> Explora un mundo donde la inteligencia artificial 
            da vida a tus superhéroes favoritos. Haz preguntas, recibe consejos y 
            disfruta conversaciones únicas con personajes inspirados en 
            el universo de Marvel.
        </p>
        <h2>¿Qué puedes hacer? </h2>
        <ul>
            <li>Conversar Habla con un superhéroe.</li>
            <li>Inteligencia Artificial Obtén respuestas naturales.</li>
            <li>Elige un héroe Vive una experiencia única.</li>
        </ul>
        </section>
        <button class="start-btn" onclick="window.location.href='chat.html'">Comenzar</button>
    </main>
    <footer>
        <p>Hero IA</p>
        <p>La aventura comienza con una conversación.</p>
        <p>Proyecto academico &copy; 2026 Hero AI.</p>
    </footer>
    <script src="../java/javascript.js"></script>
</body>
</html>