.tittle-about{
    display: flex;
    align-items: center;
}

.texto-superhero {
    color: rgb(0, 0, 0);
    /* border: 9px solid rgb(0, 0, 0); */
    top: 50px;
    padding: 1rem;
    text-align: justify;
    font-size: large;
    font-weight: bold;
}