/* Estilos para el contenido principal */
.tittle{
    padding-top: 1.5rem;
}

.text-home{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: justify;
    padding: 1.10rem;
}
.video-marvel-inico {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}



/* Estilos de los Super Heroes */

.container-all-superheroes{
    display: flex;
    flex-direction: column;
    /* border: 9px solid rgb(0, 123, 255); */
    gap: 3rem;
    padding: 1rem;
    
}
.container-chat-superhero {
    position: relative;
    /* border: 9px solid rgb(191, 255, 0); */
}
.super-hero-img{
    position: relative;
    object-fit: cover;
    /* border: 9px solid rgb(255, 0, 191); */
    width: 100%;
    height: 600px;      
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.btn-start-chat {
    position: absolute;
    z-index: 1;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: aliceblue;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
    padding: 0.7rem 1.5rem;
    align-items: center;
    font-weight: bold;

}
.btn-start-chat:hover {
    background-color: rgb(255, 255, 255, 0.7);
    color: black;
}
.gallery-superhero {
    position: absolute;
    z-index: 1;
    display: flex;
    /* border: 9px solid red; */
    gap: 0.3rem;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;

}  
.gallery-superhero img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    
}
.gallery-superhero img:hover {
    transform: scale(1.5);
    border: 2px solid rgb(255, 255, 255, 0.7);
}


@media (min-width: 768px) {
    .tittle{
        padding-left: 2rem;
    }
    .text-home{
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.5rem;
    }
    .btn-start-chat {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        font-size: 1.1rem;
    }
    .gallery-superhero img {
        width: 150px;
        height: 150px;
    }
    .gallery-superhero {
        gap: 1.5rem;
        bottom: 130px;
    }
}

@media (min-width: 1024px) {
    .container-all-superheroes{
        display: flex;
        flex-direction: row;
        gap: 2rem; 
        border: 10px red solid;
    }
    .container-chat-superhero {
        position: relative;
        width: 100%;       
        height: 300%;     
        object-fit: cover; 
        object-position: center;
        border: 10px red solid;
    }
    .btn-start-chat {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 130px;
        font-size: 1.1rem;
}
    .gallery-superhero {
        display: none;
    }
}